<!doctype html> {% load static %}
<html>
<head>

    <meta charset="utf-8">
    <title>Gravida - Home 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gravida - WordPress Theme">
    
    <!-- FAVICON & ICONS -->
    <link rel="icon" type="image/png" href={% static "img/favicon.ico" %} />
    <link rel="apple-touch-icon" href={% static "img/apple-touch-icon.png" %} >
    <link rel="apple-touch-icon" sizes="72x72" href={% static "img/apple-touch-icon-72x72.png" %} >
    <link rel="apple-touch-icon" sizes="114x114" href={% static "img/apple-touch-icon-114x114.png" %} >
    
    <!-- CSS --> 
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> 
    
    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href={% static "rs-plugin/css/settings.css" %} media="screen" />
     
    
    <!-- JAVA SCRIPT -->
    <script src={%static "js/jquery-1.9.1.min.js"%}></script>
    <script src={%static "js/bootstrap.min.js"%}></script>
    <script src={%static "js/twitter/jquery.tweet.js"%}></script>
    <script src={%static "js/custom.js"%}></script>
    <script src={%static "js/jquery-scrolltofixed-min.js"%}></script>
    <script src={%static "js/jquery.flexisel.js"%}></script>
    <script src={%static "js/jquery.fitvids.js"%}></script>
    <script src={%static "js/jquery.jplayer.min.js"%}></script>
    <script src={%static "js/jquery.isotope.min.js"%}></script>
    <script src={%static "js/jquery.prettyPhoto.js"%}></script>
    <script src={%static "js/jquery.flexslider-min.js"%}></script>
    <script src={%static "js/respond.min.js"%}></script> 
    <script src={%static "js/retina.js"%}></script>  
    <script src={%static "js/waypoints.min.js"%}></script> 
    
    <!-- jQuery REVOLUTION Slider  -->
	<script type="text/javascript" src={%static "rs-plugin/pluginsources/jquery.themepunch.plugins.min.js"%}></script>
	<script type="text/javascript" src={%static "rs-plugin/pluginsources/jquery.themepunch.revolution.js"%}></script>
    
    
</head>
<body>
<div class="boxed">

    <!--TOP BAR -->
    <div id="top-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12">
              
                  <!-- TOP BAR NAVIGATION -->
                  <nav id="top-bar-nav" class="hidden-sm hidden-xs">
                      <ul>
                          <li><a href="#">Features</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </nav>
                  <!-- TOP BAR NAVIGATION END-->
                  
                  <!-- TOP BAR TEXT -->
                  <div class="top-bar-text hidden-sm hidden-xs">
                      <p>Call us (123) 456 789</p>
                  </div>
                  <!-- TOP BAR TEXT END -->
                  
                  <!-- TOP BAR SOCIAL ICONS -->
                  <div class="top-bar-social pull-right social-icon hidden-xs">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-pinterest"></a>
                      <a href="#" class="foundicon-github"></a>
                      <a href="#" class="foundicon-instagram"></a>
                  </div>
                  <!-- TOP BAR SOCIAL ICONS END -->
                  
              </div>
          </div>
      </div>
    </div> <!--TOP BAR End-->
    
    
    
    <header> <!-- HEADER-->
    
    	<!-- HEADER CONTAINER -->
            <div class="header-top-wrap">
                <div class="container">
                
                        <!-- LOGO -->
                        <div class="logo">
                            <a href="home-2.html"><img src={%static "img/logo.png"%} alt="logo"></a>
                        </div> <!-- LOGO END -->
                        
                        
                        
                        <!-- MAIN NAVIGATION -->
                        <a class="btn nav-toogle visible-xs clearfix" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="icon-reorder"></i></a>
  
                        <nav id="main-nav" class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul>
                                <li class="current_page_item"><a href="home-2.html">Home</a>
                                </li>
                                
                                <li><a href="portfolio-4col.html">預約</a>
                                  <ul>
                                    <li><a href="portfolio-4col.html">座位預約系統</a></li>
                                  </ul>
                                </li>

                                <li><a href="faq.html">FAQ / 聯絡我們</a>
                                </li>

                                <li><a href="portfolio-3col.html">log in</a>
                                    <ul>
                                        <li><a href="portfolio-4col.html">登入</a></li>
                                        <li><a href="portfolio-4col.html">註冊</a></li>
                                    </ul>
                                </li>
                                <!-- <li><a href="contact.html">Contact</a></li> -->
                            </ul>
                        </nav> 
                        <!-- MAIN NAVIGATION END -->
                        
                    
                </div>
            </div>     
            <!-- <div class="header-bottom-wrap container">
            
                    <div class="header-text">
                        <h3>Praesent lobortis sapien non leo <a href="#">consectetur</a> sed suscipit. <br>Sed a mi id tortor iaculis pulvinar convallis.</h3>
                    </div>
                  
                    <div class="header-bottom-elements">
                        <div class="element-wrap">
                          <div class="btn">Buy this theme!</div>
                        </div>
                    </div>
              
            </div> -->
            
      <div class="header-line"></div> 
        <!-- HEADER CONTAINER END -->   
        
    </header> <!-- HEADER END -->      
    
    
	<!-- FLEX SLIDER -->
	<div class="flexslider">
          <ul class="slides" style="background: #F5F5F5 ; height: 500px;">
            <li style="background: #EEE; height: 400px;">
            
              <div class="container">
              	<div class="row margin-bot">
                	<div class="col-md-4 col-sm-4">
                    	<h2 class="h-light highlight1">我們是Pusheen出來玩</h2><br><br>
                        <p>（簡介系統功能）<br><br> Fusce vehicula aliquam libero eu aliquet. Proin feugiat, urna sit amet dignissim suscipit.</p><br>
                        <a href="#" class="btn btn-sm">Learn more</a>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <img src={%static "img/pusheen1.jpg"%} alt="home">
                    </div>
              	</div>
              </div>
              
            </li>
            <li style="background: url({%static 'img/pattern/vintage_speckles.png'%});">
            
              <div class="container">
              	<div class="row margin-bot">
                	<div class="col-md-4 col-sm-4">
                    	<h2 class="h-light highlight1">使用方法（？</h2><br>
                        <h5 class="h-light highlight3">Unlimited possibilities</h5><br><br>
                        <p>Nam lobortis vel tortor vitae semper. Nunc bibendum, velit pulvinar gravida consequat, metus nunc eleifend.</p><br><br>
                        <div class="text-box">
                        	<div class="content-padding">Sign up to newsletter:
                                <form role="form">
                                  <fieldset>
                                    <div class="input-group" style="background: #F5F5F5; margin-top: 5px;">
                                        <input name="s" id="s" type="text" value="" placeholder="Email address ...">
                                        <span class="input-group-addon"><i class="icon-envelope"></i></span>
                                    </div>
                                  </fieldset>
                        		<a href="#" class="btn btn-sm">Sign up</a>
                                </form>
                    		</div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <img src={% static "img/pusheen2.jpg" %} alt="home">
                    </div>
              	</div>
              </div>
              
            </li>
            <li>
            
<!--               <div class="container">
              	<div class="row margin-bot">
                	<div class="col-md-4 col-sm-4">
                    	<h2 class="h-light highlight1">Video Slider</h2><br><br>
                        <p> Fusce vehicula aliquam libero eu aliquet. Proin feugiat, urna sit amet dignissim suscipit.<br><br> Nam lobortis vel tortor vitae semper. Nunc bibendum, velit pulvinar gravida consequat, metus nunc eleifend diam, vitae fringilla quam.</p><br>
                        <a href="#" class="btn btn-sm">Learn more</a>
                    </div>
                    <div class="col-md-8 col-sm-8">
                    	<div class="fit-vid"><iframe src="http://player.vimeo.com/video/42381325?title=0&amp;byline=0&amp;portrait=0&amp;color=ff6969" width="620" height="351" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                        <img src="img/flex-video-shadow-01.png" alt="shadow">
                    </div>
              	</div>
              </div> -->
              
            </li>
          </ul>
    </div>

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function (){ 
		  $('.flexslider').flexslider({
    		prevText: "",
    		nextText: "", 
			pauseOnHover: true,
			video: true,      
		  });
		});
    </script>
    
    <!-- CONTENT -->
    <div id="content">
    
        <div class="full-width fw-border-bottom" style="background: url({% static 'img/pattern/geometry.png' %});">
        	<div class="container">
            	<div class="row margin-bot">
                    <div class="title"><h5>使用教學</h5></div>
                    	<div class="col-md-3 col-sm-3 animation fadeInLeft">
                        	<div class="service">
                            	<div class="service-heading clearfix">
                                	<div class="service-icon animation rotateInDownLeft" style="background: #e7e7e7;">1</div>
                                    <h4>步驟一</h4>
                                </div>
                                <div class="service-text" style="height: px">
                                	<p>blablablablablablabla....</p>
                                </div>
                                <a class="service-learn-more btn btn-xs" href="#">Learn more</a>
                            </div>
                        </div>
                    
                    	<div class="col-md-3 col-sm-3 animation fadeInLeft">
                        	<div class="service">
                            	<div class="service-heading clearfix">
                                	<div class="service-icon animation rotateInDownLeft" style="background: #e7e7e7;">2</div>
                                    <h4>步驟二</h4>
                                </div>
                                <div class="service-text" style="height: px">
                                	<p>blablablablablablabla....</p>
                                </div>
                                <a class="service-learn-more btn btn-xs" href="#">Learn more</a>
                            </div>
                        </div>
                    
                    	<div class="col-md-3 col-sm-3 animation fadeInRight">
                        	<div class="service">
                            	<div class="service-heading clearfix">
                                	<div class="service-icon animation rotateInDownLeft" style="background: #e7e7e7;">3</div>
                                    <h4>步驟三</h4>
                                </div>
                                <div class="service-text" style="height: 92px">
                                	<p>blablablablablablabla....</p>
                                </div>
                                <a class="service-learn-more btn btn-xs" href="#">Learn more</a>
                            </div>
                        </div>
                    
                    	<div class="col-md-3 col-sm-3 animation fadeInRight">
                        	<div class="service">
                            	<div class="service-heading clearfix">
                                	<div class="service-icon animation rotateInDownLeft" style="background: #e7e7e7;">4</div>
                                    <h4>步驟四</h4>
                                </div>
                                <div class="service-text" style="height: px">
                                	<p>blablablablablablabla....</p>
                                </div>
                                <a class="service-learn-more btn btn-xs" href="#">Learn more</a>
                            </div>
                        </div>
                	
                </div>
            </div>
        </div>
        
    	<!-- CONTAINER -->
        <div class="full-width fw-borders" style="background: url({% static 'img/pattern/fabric_of_squares_gray.png' %})">
        <div class="container">
          	<div class="row">
              	<div class="title"><h5>Meet the Team</h5></div>
                      
                      <div class="row margin-bot">
                        
                          
                        <div class="col-md-6 col-sm-4">
                            <h2 class="h-light highlight1">"Pusheen出來玩"</h2><br><br>
                              <p>（看要加什麼團隊簡介XD）<br><br> Fusce vehicula aliquam libero eu aliquet. Proin feugiat, urna sit amet dignissim suscipit.</p><br>
                              <a href="#" class="btn btn-sm">Learn more</a>
                          </div>
                        


                          <!-- TEAM PERSON -->
                        <div class="col-md-3 col-sm-4 animation flipInY">
                            <div class="team-person">
                                <div class="team-person-photo"><img src={% static "img/pusheen1.jpg" %} alt=""></div>
                                  <div class="team-person-info">
                                    <div class="team-person-name">
                                          <h4>戴宏穎</h4>
                                          <span class="function">Chief Executive Officer</span>
                                      </div>
                                      <div class="team-person-text" style="height: px">
                                        <p>blablablablablablablabla...... </p>
                                      </div>
                                      <div class="team-person-social">
                                        <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <!-- TEAM PERSON END -->
                        
                          <!-- TEAM PERSON -->
                        <div class="col-md-3 col-sm-4 animation flipInY">
                            <div class="team-person">
                                <div class="team-person-photo"><img src={% static "img/pusheen1.jpg" %} alt=""></div>
                                  <div class="team-person-info">
                                    <div class="team-person-name">
                                          <h4>楊宗翰</h4>
                                          <span class="function">Chief Executive Officer</span>
                                      </div>
                                      <div class="team-person-text" style="height: px">
                                        <p>blablablablablablablabla...... </p>
                                      </div>
                                      <div class="team-person-social">
                                        <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>

                        </div>
                      
                      <div class="row margin-bot">
                        <div class="col-md-3 col-sm-4 animation flipInY">
                          </div>

                          <div class="col-md-3 col-sm-4 animation flipInY">
                            <div class="team-person">
                                <div class="team-person-photo"><img src={% static "img/pusheen1.jpg" %} alt=""></div>
                                  <div class="team-person-info">
                                    <div class="team-person-name">
                                          <h4>林致民</h4>
                                          <span class="function">Chief Executive Officer</span>
                                      </div>
                                      <div class="team-person-text" style="height: px">
                                        <p>blablablablablablablabla...... </p>
                                      </div>
                                      <div class="team-person-social">
                                        <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <!-- TEAM PERSON END -->
                        
                          <!-- TEAM PERSON -->
                        <div class="col-md-3 col-sm-4 animation flipInY">
                            <div class="team-person">
                                <div class="team-person-photo"><img src={% static "img/pusheen1.jpg" %} alt=""></div>
                                  <div class="team-person-info">
                                    <div class="team-person-name">
                                          <h4>許佑瑋</h4>
                                          <span class="function">Chief Executive Officer</span>
                                      </div>
                                      <div class="team-person-text" style="height: px">
                                        <p>blablablablablablablabla...... </p>
                                      </div>
                                      <div class="team-person-social">
                                        <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <!-- TEAM PERSON END -->
                          <!-- TEAM PERSON -->
                        <div class="col-md-3 col-sm-4 animation flipInY">
                            <div class="team-person">
                                <div class="team-person-photo"><img src={% static "img/pusheen1.jpg" %} alt=""></div>
                                  <div class="team-person-info">
                                    <div class="team-person-name">
                                          <h4>林詩雅</h4>
                                          <span class="function">Chief Executive Officer</span>
                                      </div>
                                      <div class="team-person-text" style="height: px">
                                        <p>blablablablablablablabla...... </p>
                                      </div>
                                      <div class="team-person-social">
                                        <a href="#">Facebook</a><a href="#">Twitter</a><a href="#">Dribbble</a><a href="#">Behance</a>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                          <!-- TEAM PERSON END -->
                      </div>
                <!-- <div class="col-md-12 col-sm-12 col-sm-12 animation fadeInLeft" >
                  	<div class="title"><h5>Latest works</h5></div>
                  </div> -->
              </div>
              
              
              
              
          </div> <!-- CONTAINER END -->
        </div> 
        
        <div class="container">
            
			<script>
			$(window).load(function() {
				$("#clients").flexisel({
					enableResponsiveBreakpoints: true,
					visibleItems: 5,
					animationSpeed: 800,
					autoPlay: true,
					autoPlaySpeed: 5000,
					pauseOnHover: true,
					responsiveBreakpoints: { 
						portrait: { 
							changePoint:480,
							visibleItems: 1
						}, 
						landscape: { 
							changePoint:640,
							visibleItems: 2
						},
						tablet: { 
							changePoint:991,
							visibleItems: 4
						}
					}
				}); 
			});                       
            </script>
                     
            
         </div>  
          
    </div> <!-- CONTENT END -->    <footer class="footer-widgets">
		<div class="container footer-wrap">
          <div class="row">
            
              <div class="col-md-3 col-sm-3">
                  <div class="widget-title"><h5>About Gravida</h5></div>
                    <p>Hi, 我們是Pusheen出來玩！<br><br>國立清華大學CS<br/>資訊工程學系<br/>nthu.edu.tw<br/>+048 123 456 789</p>
                </div>
            
              <div class="col-md-3 col-sm-3">
                  <div class="widget-title"><h5>Twitter widget</h5></div>
                    
                    <div class="widget-twitter"></div>
                </div>
            
              <div class="col-md-3 col-sm-3">
                  <div class="widget-title"><h5>Social widget</h5></div>
                    <div class="social-icon">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-pinterest"></a>
                      <a href="#" class="foundicon-github"></a>
                      <a href="#" class="foundicon-instagram"></a>
                  </div>
                </div>
                
            </div>
        </div>
    </footer>
    
    <footer class="footer-bottom">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 col-sm-12">
                	<span class="copyrights">&copy; Copyright 2013 by <a href="#">Gravida</a>. All rights reserved &middot; Powered by <a href="http://wordpress.org">WordPress</a>.</span>
                    
                    <nav id="footer-bottom-nav" class="hidden-xs">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="portfolio-3col.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </div>
    </footer>    
    
</div>
</body>
</html>
