<!doctype html>
<html>
<head>

    <meta charset="utf-8">
    <title>Gravida - 4 Columns</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gravida - WordPress Theme">
    
    <!-- FAVICON & ICONS -->
    <link rel="icon" type="image/png" href="img/favicon.ico" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
    
    
    
    <!-- CSS --> 
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>  
    
    <!-- JAVA SCRIPT -->
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/twitter/jquery.tweet.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery-scrolltofixed-min.js"></script>
    <script src="js/jquery.flexisel.js"></script>
    <script src="js/jquery.fitvids.js"></script>
    <script src="js/jquery.jplayer.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/respond.min.js"></script> 
    <script src="js/retina.js"></script>  
    <script src="js/waypoints.min.js"></script> 

  
    
</head>
<body>
<div class="boxed">

    <!--TOP BAR -->
    <div id="top-bar">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12">
              
                  <!-- TOP BAR NAVIGATION -->
                  <nav id="top-bar-nav" class="hidden-sm hidden-xs">
                      <ul>
                          <li><a href="#">Features</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </nav>
                  <!-- TOP BAR NAVIGATION END-->
                  
                  <!-- TOP BAR TEXT -->
                  <div class="top-bar-text hidden-sm hidden-xs">
                      <p>Call us (123) 456 789</p>
                  </div>
                  <!-- TOP BAR TEXT END -->
                  
                  <!-- TOP BAR SOCIAL ICONS -->
                  <div class="top-bar-social pull-right social-icon hidden-xs">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-pinterest"></a>
                      <a href="#" class="foundicon-github"></a>
                      <a href="#" class="foundicon-instagram"></a>
                  </div>
                  <!-- TOP BAR SOCIAL ICONS END -->
                  
              </div>
          </div>
      </div>
    </div> <!--TOP BAR End-->
    
    
    
    <header> <!-- HEADER-->
    
        <!-- HEADER CONTAINER -->
            <div class="header-top-wrap">
                <div class="container">
                
                        <!-- LOGO -->
                        <div class="logo">
                            <a href="home-2.html"><img src="img/logo.png" alt="logo"></a>
                        </div> <!-- LOGO END -->
                        
                        
                        
                        <!-- MAIN NAVIGATION -->
                        <a class="btn nav-toogle visible-xs clearfix" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="icon-reorder"></i></a>
  
                        <nav id="main-nav" class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul>
                                <li><a href="home-2.html">Home</a>
                                </li>
                                
                                <li class="current_page_item"><a href="portfolio-4col.html">預約</a>
                                  <ul>
                                    <li><a href="portfolio-4col.html">座位預約系統</a></li>
                                  </ul>

                                </li>
                                <li><a href="faq.html">FAQ / 聯絡我們</a>
                                </li>

                                <li><a href="portfolio-3col.html">log in</a>
                                    <ul>
                                        <li><a href="portfolio-4col.html">登入</a></li>
                                        <li><a href="portfolio-4col.html">註冊</a></li>
                                    </ul>
                                </li>
                                <!-- <li><a href="contact.html">Contact</a></li> -->
                            </ul>
                        </nav> 
                        <!-- MAIN NAVIGATION END -->
                        
                    
                </div>
            </div>     
            <!-- <div class="header-bottom-wrap container">
            
                    <div class="header-text">
                        <h3>Praesent lobortis sapien non leo <a href="#">consectetur</a> sed suscipit. <br>Sed a mi id tortor iaculis pulvinar convallis.</h3>
                    </div>
                  
                    <div class="header-bottom-elements">
                        <div class="element-wrap">
                          <div class="btn">Buy this theme!</div>
                        </div>
                    </div>
              
            </div> -->
            
      <div class="header-line"></div> 
        <!-- HEADER CONTAINER END -->   
        
    </header> <!-- HEADER END -->      
    
    
  
    <!-- CONTENT -->
    <div id="content">
    	<!-- CONTAINER -->
    	<div class="container">
        	
           	<div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="portfolio-filter">
                        <a href="#" data-sortable-label="Filter projects" id="sort-portfolio">視角選擇<i class="icon-th-large"></i></a>
                        <ul id="filters">
                          <li><a href="#" data-filter="*" class="active">全部觀看</a></li>
                          <li><a href="#" data-filter=".web">只看空位</a></li>
                          <li><a href="#" data-filter=".branding">使用中</a></li>
                        </ul>            
                    </div>
                </div>
        	</div>
            
            <!-- PORTFOLIO 4 COL -->            
            <div id="portfolio-page" class="row margin-bot">
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element web">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.01</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element branding">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.02</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element web">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.03</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element branding">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.04</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element web">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.05</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element branding">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.06</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element web">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.07</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element web">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.08</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element branding">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.09</h5>
                        </a>
                    </div>
                </div>
            
            	<div class="col-md-2 col-sm-3 col-xs-12 element web">
                	<div class="portfolio-item">
                    	<a href="portfolio-single.html">
                        	<div class="image"><img src="img/good luck.jpg" alt="">
                            	<div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.10</h5>
                        </a>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-12 element branding">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <div class="image"><img src="img/good luck.jpg" alt="">
                                <div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.11</h5>
                        </a>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-12 element web">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <div class="image"><img src="img/good luck.jpg" alt="">
                                <div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.12</h5>
                        </a>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-12 element web">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <div class="image"><img src="img/good luck.jpg" alt="">
                                <div class="overlay"><div class="icon-wrap"><i class="icon-chevron-right"></i></div></div>
                            </div>
                            <h5>Seat.13</h5>
                        </a>
                    </div>
                </div>
                
            </div>
            <!-- PORTFOLIO 4 COL END -->
                                
        </div> <!-- CONTAINER END -->
    </div> <!-- CONTENT END -->    <footer class="footer-widgets">
		<div class="container footer-wrap">
        	<div class="row">
            
            	<div class="col-md-3 col-sm-3">
                	<div class="widget-title"><h5>About Gravida</h5></div>
                    <p>Hi, 我們是Pusheen出來玩！<br><br>國立清華大學CS<br/>資訊工程學系<br/>
                        nthu.edu.tw</p>
                </div>
            
            	<div class="col-md-3 col-sm-3">
                	<div class="widget-title"><h5>Twitter widget</h5></div>
                    
                    <div class="widget-twitter"></div>
                </div>
            
            	<div class="col-md-3 col-sm-3">
                	<div class="widget-title"><h5>Social widget</h5></div>
                    <div class="social-icon">
                      <a href="#" class="foundicon-facebook"></a>
                      <a href="#" class="foundicon-twitter"></a>
                      <a href="#" class="foundicon-pinterest"></a>
                      <a href="#" class="foundicon-github"></a>
                      <a href="#" class="foundicon-instagram"></a>
                  </div>
                </div>
            
            	<div class="col-md-3 col-sm-3">
                	<!-- <div class="widget-title"><h5>Flickr widget</h5></div>
                    <div class="widget-flickr"><script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;size=s&amp;layout=h&amp;source=user&amp;user=52617155@N08"></script></div> -->
                </div>
                
            </div>
        </div>
    </footer>
    
    <footer class="footer-bottom">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-12 col-sm-12">
                	<span class="copyrights">&copy; Copyright 2013 by <a href="#">Gravida</a>. All rights reserved &middot; Powered by <a href="http://wordpress.org">WordPress</a>.</span>
                    
                    <nav id="footer-bottom-nav" class="hidden-xs">
                        <ul>
                            <li><a href="home-2.html">Home</a></li>
                            <li><a href="about.html">About us</a></li>
                            <li><a href="portfolio-4col.html">預約系統</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                    
                </div>
            </div>
        </div>
    </footer>  
    
</div>
</body>
</html>
